body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: "Noto Sans";
    color: #cccccc;
    background: #0e0016;
}

header, table, section, footer, aside, nav, article, figure, figcaption, label {
    display: block;
    border-radius: 1rem;
    }

#agrupar {
    background-image: -moz-radial-gradient(center, #0e0016,indigo,#0e0016);
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
}

#cabecera {
    background: #0e0016;
    border: .1rem solid indigo;
    padding: 1rem;
}
#logo {
    float: left;
    max-width: 100px;
    max-height: 100px;
    border-radius: 4rem;
}
#titulo {
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: indigo 8px 6px 6px;
    color: #cccccc;
}
#menu {
    float: left;
    overflow: hidden;
    padding: .5rem; /* arriba, derecha, abajo, izquierda*/
    min-width: 200px;
}

#menu ul {
    list-style: none;
}

#menu ul li, .titulomenu {
    font-size: 1.2rem;
    border: .1rem solid indigo;
    border-radius: .8rem;
    background: #0e0016;
    margin: 0 .5rem .5rem 0;
    padding: .4rem 1rem;
    text-align: center;
    min-width: 80px;
    max-width: 160px;
}

#menu a {
    color: indigo;
}
#menu a:hover {
    color: yellow;
}

.seccion {
    float: left;
    min-width: 240px;
    margin: .4rem .2rem .4rem .2rem;
    padding: 2% 2% 2% 2%;
    background-color: grey;
    opacity: .8;
    color: white;
}

.entradas {
    float: left;
    color: black;
    text-align: left;
    background: #CCCCCC;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    max-width: 80%;
    min-width: 190px;
}

.entradas footer {
    text-align: right;
}

#pie {
    clear: both;
    background: #0e0016;
    border: .1rem solid indigo;
    text-align: center;
    font-size: .8rem;
    color: gray;
    padding: 1rem;
}

#mail {
    color: royalblue;
}
#mail:hover{
    color: white;
    font-weight: bold;
}